@import "tailwindcss";

@theme {
  /* Fondo principal y superficies */
  --color-background: #09090b;      /* Zinc 950 */
  --color-surface: #18181b;         /* Zinc 900 */
  --color-surface-hover: #27272a;   /* Zinc 800 */

  /* Colores de Marca (Acentos) */
  --color-primary: #3b82f6;         /* Blue 500 */
  --color-primary-glow: rgba(59, 130, 246, 0.5);
  --color-secondary: #a855f7;       /* Purple 500 */
  
  /* Estados de Texto */
  --color-text-main: #ffffff;
  --color-text-muted: #a1a1aa;      /* Zinc 400 */
  --color-text-dim: #71717a;        /* Zinc 500 */

  /* Bordes sutiles para Dark Mode */
  --color-border-dark: #27272a;     /* Zinc 800 */
}